[submodule "utils/VPR-methods-evaluation"]
	path = utils/VPR-methods-evaluation
	url = https://github.com/gmberton/VPR-methods-evaluation.git
[submodule "third_party/cosplace_upstream"]
	path = third_party/cosplace_upstream
	url = https://github.com/gmberton/CosPlace.git
